body {
    font-family: Arial;
    background-color: #f2f2f2;
    padding: 20px;
}

h1 {
    text-align: center;
}

input, select, textarea {
    display: block;
    width: 300px;
    margin-top: 10px;
    padding: 8px;
}

button {
    margin-top: 10px;
    padding: 8px;
    width: 150px;
}
